---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---
<div class:list={["mx-auto w-full max-w-[85rem] px-4 sm:px-6 lg:px-8 xl:px-16", className]}>
    <slot/>
</div>
