---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---
<div class:list={["logo-container pt-8", className]}>
    <img 
        src="/images/Black Logo No Background.png" 
        alt="Livano Logo" 
        class="h-48 dark:hidden"
    />
    <img 
        src="/images/White Logo No Background.png" 
        alt="Livano Logo" 
        class="h-48 hidden dark:block"
    />
</div>