---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---
<div class:list={["logo-container pt-8 min-w-[200px]", className]}>
    <img 
        src="/images/Black Logo No Background.png" 
        alt="Livano Logo" 
        class="h-48 w-auto object-contain dark:hidden"
    />
    <img 
        src="/images/White Logo No Background.png" 
        alt="Livano Logo" 
        class="h-48 w-auto object-contain hidden dark:block"
    />
</div>