---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---
<div class:list={["logo-container relative", className]}>
    <img 
        src="/images/Black Logo No BackgroundHeader.webp" 
        alt="Livano Logo" 
        class="h-12 w-auto md:h-14 lg:h-20 object-contain dark:hidden"
    />
    <img 
        src="/images/White Logo No BackgroundHeader.webp" 
        alt="Livano Logo" 
        class="h-12 w-auto md:h-14 lg:h-20 object-contain hidden dark:block"
    />
</div>