---
import Paragraph from '../shared/Paragraph.astro';

interface Props {
    title: string;
    description: string;
    className?: string;
}

const { title, description, className = "" } = Astro.props;
---

<div class:list={["p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden flex flex-col items-center midmd:items-start", className]}>
    <div class="rounded-xl bg-gray-300 dark:bg-gray-950 p-3 text-heading-1 w-max relative mx-auto midmd:mx-0">
        <slot name="icon"/>
    </div>
    <h2 class="md:text-xl font-semibold text-heading-2 mt-6 mb-4 text-center midmd:text-left w-full">
        {title}
    </h2>
    <Paragraph className="text-center midmd:text-left w-full">
        {description}
    </Paragraph>
</div>