---
import Container from "../../components/shared/Container.astro";
import Title from "../../components/shared/Title.astro";
---
<section class="py-0 -translate-y-1">
    <Container className="space-y-6">
        <div class="text-center flex items-center justify-center gap-4">
            <div class="h-[1px] w-[2.5rem] sm:w-[6rem] md:w-[8rem] lg:w-[8rem] bg-heading-2"></div>
            <Title className="text-base sm:text-lg md:text-xl lg:text-2xl whitespace-nowrap">Trusted by companies like</Title>
            <div class="h-[1px] w-[2.5rem] sm:w-[6rem] md:w-[8rem] lg:w-[8rem] bg-heading-2"></div>
        </div>
        <div class="flex justify-center w-full">
            <div class="w-full sm:w-[90%] md:w-[70%] lg:w-[60%] flex justify-between items-center gap-2 lg:gap-6">
                <div class="p-2 h-12 sm:h-14 md:h-16 lg:h-24 w-[16vw] sm:w-[calc(90vw/5-1rem)] md:w-[calc(70vw/5-1rem)] lg:w-[calc(60vw/5-1rem)] flex items-center justify-center min-w-[50px] overflow-hidden">
                    <img 
                        src="/images/ShopifyLightTheme.png" 
                        data-light-src="/images/ShopifyLightTheme.png" 
                        data-dark-src="/images/ShopifyDarkTheme.png" 
                        alt="Shopify Theme" 
                        class="theme-aware-image w-full h-full object-contain sm:scale-[1.2] md:scale-[1.3] lg:scale-100 scale-125 sm:translate-y-[-3.5px]"
                    >
                </div>
                
                <div class="p-2 h-12 sm:h-14 md:h-16 lg:h-24 w-[calc(16vw+4px)] sm:w-[calc(90vw/5-1rem+9px)] md:w-[calc(70vw/5-1rem+4px)] lg:w-[calc(60vw/5-1rem)] flex items-center justify-center min-w-[54px] overflow-hidden">
                    <img 
                        src="/images/VOILECHIC.png" 
                        data-light-src="/images/VOILECHIC.png" 
                        data-dark-src="/images/VOILECHIC.png" 
                        alt="Voile Chic" 
                        class="theme-aware-image w-full h-full object-contain sm:scale-[0.84] md:scale-[0.84] lg:scale-[0.935] scale-[1.02] sm:translate-y-[-1.5px] translate-y-[0.5px] lg:translate-y-[-1px]"
                    >
                </div>
                
                <div class="p-2 h-12 sm:h-14 md:h-16 lg:h-24 w-[16vw] sm:w-[calc(90vw/5-1rem)] md:w-[calc(70vw/5-1rem)] lg:w-[calc(60vw/5-1rem)] flex items-center justify-center min-w-[50px] overflow-hidden">
                    <img 
                        src="/images/SocialSnowball-noBG.png" 
                        data-light-src="/images/SocialSnowball-noBG.png" 
                        data-dark-src="/images/SocialSnowball-noBG.png" 
                        alt="Social Snowball" 
                        class="theme-aware-image w-full h-full object-contain sm:scale-[0.98] md:scale-[1.2] lg:scale-[1.1] scale-[1.35] sm:translate-y-[-2.3px] sm:translate-x-[-1px] sm:w-[calc(100%-4px)]"
                    >
                </div>
                
                <div class="p-2 h-12 sm:h-14 md:h-16 lg:h-24 w-[16vw] sm:w-[calc(90vw/5-1rem)] md:w-[calc(70vw/5-1rem)] lg:w-[calc(60vw/5-1rem)] flex items-center justify-center min-w-[50px] overflow-hidden">
                    <img 
                        src="/images/EvesCycle.png" 
                        data-light-src="/images/EvesCycle.png" 
                        data-dark-src="/images/EvesCycle.png" 
                        alt="Eve's Cycle" 
                        class="theme-aware-image w-full h-full object-contain sm:scale-100 scale-[1.39] sm:translate-y-[-1px] translate-y-[1px]"
                    >
                </div>
                
                <div class="p-2 h-12 sm:h-14 md:h-16 lg:h-24 w-[16vw] sm:w-[calc(90vw/5-1rem)] md:w-[calc(70vw/5-1rem)] lg:w-[calc(60vw/5-1rem)] flex items-center justify-center min-w-[50px] overflow-hidden">
                    <img 
                        src="/images/RefunnelLightTheme.png" 
                        data-light-src="/images/RefunnelLightTheme.png" 
                        data-dark-src="/images/RefunnelDarkTheme.png" 
                        alt="Refunnel Theme" 
                        class="theme-aware-image w-full h-full object-contain sm:scale-[1.2] md:scale-[1.4] lg:scale-100 scale-[1.75] sm:translate-y-[-2px] sm:translate-x-[-3px]"
                    >
                </div>
            </div>
        </div>
    </Container>
</section>
<script>
    function updateThemeAwareImages() {
        const isDark = document.documentElement.classList.contains('dark');
        const themeAwareImages = document.querySelectorAll('.theme-aware-image');
        
        themeAwareImages.forEach(image => {
            const currentSrc = image.getAttribute('src') || '';
            const lightSrc = image.getAttribute('data-light-src') || '';
            const darkSrc = image.getAttribute('data-dark-src') || '';
            
            if (lightSrc && darkSrc) {
                image.setAttribute('src', isDark ? darkSrc : lightSrc);
            }
        });
    }

    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (mutation.attributeName === 'class') {
                updateThemeAwareImages();
            }
        });
    });

    observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['class']
    });

    updateThemeAwareImages();
</script>