---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Trusted by companies like
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <!-- Metro -->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/metro-1.jpg" alt="Metro" class="w-40 h-[calc(8rem+0.5rem)] object-contain ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>

            <!-- Voile Chic -->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/VoileChic.jpg" alt="Voile Chic" class="w-40 h-[calc(8rem+0.5rem)] object-contain ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>

            <!-- WorkJam -->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/WorkJam2.jpg" alt="WorkJam" class="w-40 h-[calc(8rem+0.5rem)] object-contain ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>

            <!-- Social Snowball -->
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/SocialSnowballBrand.jpg" alt="Social Snowball" class="w-40 h-[calc(8rem+0.5rem)] object-contain ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
        </div>
    </Container>
</section>