---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section class="relative mt-12 md:mt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center max-w-3xl mx-auto mb-16">
      <Title>
        Just getting started,<br>
        but already ahead of the curve.
      </Title>
    </div>

    <div
      class="relative mx-auto bg-box-bg border border-box-border shadow-lg shadow-box-shadow rounded-3xl overflow-hidden"
    >
      <div class="grid grid-cols-2 md:grid-cols-4 divide-y md:divide-y-0 md:divide-x divide-box-border">
        <div class="p-8 md:p-10">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            6000+
          </h2>
          <p class="mt-2 text-heading-3">Affiliates</p>
        </div>

        <div class="p-8 md:p-10">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            13+
          </h2>
          <p class="mt-2 text-heading-3">Partnered brands</p>
        </div>

        <div class="p-8 md:p-10">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            60+
          </h2>
          <p class="mt-2 text-heading-3">Influencer campaigns</p>
        </div>

        <div class="p-8 md:p-10">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            100M+
          </h2>
          <p class="mt-2 text-heading-3">Social reach</p>
        </div>
      </div>
    </div>
  </div>
</section>