---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="services">
    <Container className="space-y-0 md:space-y-0">
        <div class="text-center max-w-3xl mx-auto space-y-4 mb-12">
            <Title>
                Our packages include
            </Title>
            <Paragraph className="text-center">
                We specialize in delivering tailored influencer & affiliate marketing solutions designed to elevate your brand's reach, revenue, and reputation. 
                <br><br>
            </Paragraph>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 lg:gap-12 max-w-5xl mx-auto">
            {
                services.map((service: ServicesProps) => {
                    return (
                        <Service title={service.title} description={service.description} icon={service.icon}>
                        </Service>
                    );
                })
            }
        </div>
    </Container>
</section>