---
import Layout from '../layouts/Layout.astro';
import Blogs from '../components/sections/Blogs.astro';
---

<Layout title="Blog - Livano Agency">
    <main class="flex-1 flex flex-col pt-20">
        <Blogs />
    </main>
</Layout>