---
import Layout from '../layouts/Layout.astro';
import Container from '../components/shared/Container.astro';
import Title from '../components/shared/Title.astro';
import CalendlyWidget from '../components/sections/CalendlyWidget.astro';
import ContactForm from '../forms/ContactForm.astro';
---

<Layout title="Get in touch">
    <main class="pt-32">
        <Container>
            <div class="max-w-3xl mx-auto">
                <div class="mb-16">
                    <Title>
                        Inquiry Form
                    </Title>
                    
                    <ContactForm />

                    <div class="mt-8 text-center">
                        <a  class="text-primary hover:text-primary-dark">
                            livano@livanoagency.com
                        </a>
                    </div>
                </div>

                <CalendlyWidget />
            </div>
        </Container>
    </main>
</Layout>