---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import CalendlyWidget from '../components/sections/CalendlyWidget.astro';
import ByNumber from "../components/sections//ByNumber.astro";
---

<Layout title="Welcome to Livano">
	<main class="flex flex-col overflow-hidden pt-32">
		<div class="space-y-12 md:space-y-20">
			<Hero/>
			<Services/>
			<Brands/>
			<AboutUs/>
			<Features/>
		</div>
		<div class="space-y-6 md:space-y-8 mt-12 md:mt-16">
			<ByNumber/>
			<CTA/>
			<CalendlyWidget/>
		</div>
	</main>
</Layout>