---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import CalendlyWidget from '../components/sections/CalendlyWidget.astro';
import ByNumber from '../components/sections/ByNumber.astro';
import CustomerStories from '../components/sections/CustomerStories';
---

<Layout title="Welcome to Livano">
	<main class="flex flex-col overflow-hidden pt-20 md:pt-24 lg:pt-32">
		<div class="space-y-8 md:space-y-16">
			<Hero/>
			<Services/>
			<Brands/>
			<AboutUs/>
			<Features/>
		</div>
		<div class="space-y-6 md:space-y-8 mt-2 md:mt-16">
			<ByNumber/>
			<CTA/>
			<CalendlyWidget/>
			<CustomerStories/>
		</div>
	</main>
</Layout>
